Auto Job Applier Agent.json
{
  "name": "Auto Job Applier Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        0
      ],
      "id": "e89348d0-6bf9-4e01-ae5e-e81288abb4d2",
      "name": "Schedule Trigger",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": true
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs?search=machine+learning",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        0
      ],
      "id": "751eea2c-54a8-459b-a10a-d2a59e7de267",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "05efd9f3-f168-413d-aee4-6018d7e4e969",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        416,
        144
      ],
      "id": "dd70409f-1603-4e83-9fff-33a063630193",
      "placeholder": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI job assistant.\n\nCompare the job below with my profile.\n\nMY PROFILE:\n- Skills: Python, SQL, APIs, Oracle APEX, Machine Learning basics\n- Experience: Software Engineer\n- Goal: Get ML Engineer or AI-related roles\n\nJOB DETAILS:\nTitle: {{$json[\"jobs\"][0][\"title\"]}}\nCompany: {{$json[\"jobs\"][0][\"company_name\"]}}\nDescription: {{$json[\"jobs\"][0][\"description\"]}}\nReturn ONLY in this format:\nMatch Score: (0-100)\nShould Apply: Yes or No\nReason: Short explanation"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        592,
        -16
      ],
      "id": "e0783450-30f2-41e8-88f0-dd718a5224b2",
      "name": "Message a model",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "zbjzhf5gIj2pAcBc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb7c4c72-fb46-4f24-bd8f-6c22cf3f89e2",
              "leftValue": "={{ Number($json.output[0].content[0].text.match(/\\d+/)[0]) }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "7a58ca29-1dd9-48ae-8a48-b4aa8523c3a5",
              "leftValue": "={{ $json.output[0].content[0].text.includes(\"Yes\") }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        -16
      ],
      "id": "856b5327-d537-452d-9622-5b3226e94064",
      "name": "If",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a professional job assistant.\n\nWrite a short, personalized cover letter.\n\nMY PROFILE:\n- Skills: Python, SQL, APIs, Oracle APEX, Machine Learning basics\n- Experience: Software Engineer\n- Goal: ML Engineer / AI roles\n\nJOB DETAILS:\nTitle: {{$json[\"title\"]}}\nCompany: {{$json[\"company\"]}}\nDescription: {{$json[\"description\"]}}\n\nRequirements:\n- Keep it under 120 words\n- Make it tailored to the job\n- Highlight relevant skills only\n- No generic phrases like \"I am excited\""
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1008,
        -144
      ],
      "id": "4938871f-f00f-48c9-840c-5e792f5fd3da",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "zbjzhf5gIj2pAcBc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dfa22f4c-448a-445d-a396-152a520ea401",
              "name": "title",
              "value": "={{ $json.jobs[0].title }}",
              "type": "string"
            },
            {
              "id": "0ee36d3b-61e3-41a6-9a42-2299c034768a",
              "name": "company",
              "value": "={{ $json.jobs[0].company_name }}",
              "type": "string"
            },
            {
              "id": "21162236-7975-4e61-bce8-71000dfd800b",
              "name": "description",
              "value": "={{ $json.jobs[0].description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -16
      ],
      "id": "57695941-69d6-45af-a957-ae2261c54312",
      "name": "Edit Fields",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZINotsSrmyV186SVXbs8kf7mS2CgBkb4UO0L3bGhS9w",
          "mode": "list",
          "cachedResultName": "Jobs and Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZINotsSrmyV186SVXbs8kf7mS2CgBkb4UO0L3bGhS9w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZINotsSrmyV186SVXbs8kf7mS2CgBkb4UO0L3bGhS9w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{$node[\"Edit Fields\"].json[\"title\"]}}",
            "Cover Letter": "={{ $json.output[0].content[0].text }}",
            "Company": "={{$node[\"Edit Fields\"].json[\"company\"]}}",
            "AI Decision": "={{$node[\"Message a model\"].json[\"output\"][0][\"content\"][0][\"text\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Decision",
              "displayName": "AI Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -144
      ],
      "id": "12fb3b1d-bc7e-4c1c-afb7-200b0cdc0c5f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CKFckD6UAITKziel",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5596721608",
        "text": "=🚀 New Job Found!  💼 {{$node[\"Edit Fields\"].json[\"title\"]}} 🏢 {{$node[\"Edit Fields\"].json[\"company\"]}}  🧠 AI Decision: {{$node[\"Message a model\"].json[\"output\"][0][\"content\"][0][\"text\"]}}  ✍️ Cover Letter: {{$node[\"Message a model1\"].json[\"output\"][0][\"content\"][0][\"text\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        -144
      ],
      "id": "13dd1a34-5971-4fc9-8fad-9bc451905539",
      "name": "Send a text message",
      "webhookId": "7adcd528-3f57-4fdc-a697-f1718e3a0a6a",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "4XkiI1H3QBRnb9Rg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a career assistant.\n\nCompare the job with my profile and identify missing skills.\n\nMY PROFILE:\n- Skills: Python, SQL, APIs, Oracle APEX, Machine Learning basics\n- Goal: ML Engineer / AI roles\n\nJOB DETAILS:\nTitle: {{$node[\"Edit Fields\"].json[\"title\"]}}\nCompany: {{$node[\"Edit Fields\"].json[\"company\"]}}\nDescription: {{$node[\"Edit Fields\"].json[\"description\"]}}\n\nReturn ONLY:\n- Missing Skills (comma-separated)\n- What to Learn Next (short actionable advice)"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1024,
        160
      ],
      "id": "9d686c78-c5d0-4098-b3b5-bc7667512996",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "zbjzhf5gIj2pAcBc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5596721608",
        "text": "=🧠 Skill Gap Detected!  💼 {{$node[\"Edit Fields\"].json[\"title\"]}}  ❌ Missing Skills: {{$json[\"output\"][0][\"content\"][0][\"text\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        160
      ],
      "id": "93de9f42-428c-4e52-beb7-fb080ce0eba3",
      "name": "Send a text message1",
      "webhookId": "ad91b1db-63d1-430a-8c95-8d06efe51fab",
      "credentials": {
        "telegramApi": {
          "id": "4XkiI1H3QBRnb9Rg",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZINotsSrmyV186SVXbs8kf7mS2CgBkb4UO0L3bGhS9w",
          "mode": "list",
          "cachedResultName": "Jobs and Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZINotsSrmyV186SVXbs8kf7mS2CgBkb4UO0L3bGhS9w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZINotsSrmyV186SVXbs8kf7mS2CgBkb4UO0L3bGhS9w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{$node[\"Edit Fields\"].json[\"title\"]}}",
            "Company": "={{$node[\"Edit Fields\"].json[\"company\"]}}",
            "AI Decision": "={{$node[\"Message a model\"].json[\"output\"][0][\"content\"][0][\"text\"]}}",
            "Cover Letter": "Not Applicable",
            "Missing Skills": "={{$json[\"output\"][0][\"content\"][0][\"text\"].split(\"What to Learn Next\")[0]}}",
            "Learning Plan": "={{$json[\"output\"][0][\"content\"][0][\"text\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Decision",
              "displayName": "AI Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Learning Plan",
              "displayName": "Learning Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        160
      ],
      "id": "95c838aa-2b9a-4d75-96dd-79280cb52b5c",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CKFckD6UAITKziel",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2a8e22f7-189e-4d19-9ade-eba84853d30a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0492ec94dfe8a166dda961b96cb9e25932e13a781a23b5e1800b41482647835"
  },
  "id": "GzEFfegRwM86XD4D",
  "tags": []
}